/*-------- Menu 3 Le délice des papilles------*/
body
{
    display: flex;
    flex-direction: column;
}

#main3
{
	width: 70%;
	margin: 0 auto;
	padding: 2%;
	background-color: #FAFAFA;
	margin-bottom: 45px;
}

main #titreledelice
{
	font-family:'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#2019DF), to(#57E7FF));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

main section div .ledelicesoustitre1
{
	text-align: center;
	font-family: 'Paprika', cursive;
	font-size: 23px;
	color: black;
}

main section div .ledelicesoustitre2
{
	text-align: center;
	font-family: 'Paprika', cursive;
	font-size: 23px;
	color: black;
}

main section div .ledelicesoustitre3
{
	text-align: center;
	font-family: 'Paprika', cursive;
	font-size: 23px;
	color: black;
}

 main section .ledeliceparag
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 70px;
	margin-left: 70px;
	font-size: 16px;
	font-family: 'Paprika', cursive;
    color: black; 
}

/*Soulignement des soustitres de gauche à droite*/
 main .entrees div h2 span
{
	background: linear-gradient(to top, rgba(33,33,33 ,1) 0%, rgba(33,33,33 ,1) 2px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .3s;
}

main .entrees div h2 span:hover
{
	background-size: 100% 100%;
}

main .plats div h2 span
{
	background: linear-gradient(to top, rgba(33,33,33 ,1) 0%, rgba(33,33,33 ,1) 2px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .3s;
}

main .plats div h2 span:hover
{
	background-size: 100% 100%;
}

main .desserts div h2 span
{
	background: linear-gradient(to top, rgba(33,33,33 ,1) 0%, rgba(33,33,33 ,1) 2px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .3s;
}

main .desserts div h2 span:hover
{
	background-size: 100% 100%;
}

/*------------------Traits des soustitre------------------*/
section div .ledelicesoustitre1
{
    position: relative;
    overflow: hidden;
    text-align: center;
}

.ledelicesoustitre1:before, .ledelicesoustitre1:after 
{
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 4px;
    content: '\a0';
    background-color: #3B3DED; 
}

.ledelicesoustitre1:before 
{
    margin-left: -50%;
    text-align: right;
}

section div .ledelicesoustitre2
{
    position: relative;
    overflow: hidden;
    text-align: center;
}

.ledelicesoustitre2:before, .ledelicesoustitre2:after 
{
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 4px;
    content: '\a0';
    background-color: #3792F2; 
}

.ledelicesoustitre2:before 
{
    margin-left: -50%;
    text-align: right;
}

section div .ledelicesoustitre3
{
    position: relative;
    overflow: hidden;
    text-align: center;
}

.ledelicesoustitre3:before, .ledelicesoustitre3:after 
{
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 4px;
    content: '\a0';
    background-color: #3AA7DD; 
}

.ledelicesoustitre3:before 
{
    margin-left: -50%;
    text-align: right;
}

/*--------------media queries Menu 3 Le délice des papilles-------------*/
@media screen and (max-width: 915px)
{
	main section div .ledelicesoustitre1
	{
		font-size: 21px;
	}

	main section div .ledelicesoustitre2
	{
		font-size: 21px;
	}

	main section div .ledelicesoustitre3
	{
		font-size: 21px;
	}

	main section article.ledeliceparag
	{
		flex-direction: column;
		text-align: center;
		margin-right: 10px;
		margin-left: 10px;
	}
}

@media screen and (max-width: 430px)
{

	main #titreledelice
	{
		font-size: 40px; 
	}

	main section div .ledelicesoustitre1
	{
		font-size: 16px;
	}

	main section div .ledelicesoustitre2
	{
		font-size: 16px;
	}

	main section div .ledelicesoustitre3
	{
		font-size: 16px;
	}

	main section .ledeliceparag
	{
		font-size: 13px;
	}
}

