/*-----------Mentions Légales-----------*/
body
{   
	position: relative;
	height: auto;
	width:  auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main #legale
{
	font-size: 30px;
	text-align: center;
}

main #mentions
{
	font-size: 20px;
	text-align: center;
}

/*--------------media queries Mentions légales-------------*/
@media screen and (max-width: 880px)
{
	main #legale
	{
		font-size: 20px;
	}

	main #mentions
	{
		font-size: 15px;
	}
}

@media screen and (max-width: 480px)
{

	main #mentions 
	{
		margin-bottom: 60px;
	}	
}

