body
{   
	position: relative;
	height: auto;
	width:  auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main
{
   margin-bottom: 70px;
}
 
.menuhaut
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menuhaut div:nth-child(1) section figure i
{
	text-align: center;
   	font-size: 40px;
    background: -webkit-gradient(linear, left bottom, right bottom, from(#ef5350), to(#FFAB91));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menubas
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menuhaut div
{   flex-wrap: wrap;
	justify-content: space-around; 
	padding-bottom: 200px;
	padding-top: 200px;
	width: 33%;
	margin: 50px;
}

.menubas div
{   
	flex-wrap: wrap;
	justify-content: space-around; 
	padding-bottom: 200px;
	padding-top: 200px;
	width: 33%;
	margin: 50px;
}

.menuhaut div section
{
	text-align: center;
}

.menubas div section
{
	text-align: center;
}

.menuhaut div:nth-child(1)
{
	background-color: #FFDADB;
	box-shadow: 4px 4px 4px 4px grey;
}

.menuhaut div:nth-child(1) a
{
	text-decoration: none;
}

.menuhaut div:nth-child(1) a section h4
{
	color: #4E342E; 
	font-family: 'Ma Shan Zheng', cursive;
	font-size: 30px; 
}

.menuhaut div:nth-child(1) a section h2 
{
	font-family: "comic sans ms";
	color: #4E342E;
	font-size: 30px;
}

.menuhaut div:nth-child(2)
{
	background-color: #FFF5FD;
	box-shadow: 4px 4px 4px 4px grey;
}

.menuhaut div:nth-child(2) a
{
	text-decoration: none;
}

.menuhaut div:nth-child(2) a section h4
{
	font-family: 'Croissant One', cursive;
	font-size: 23px;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#FFA000), to(#651FFF));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.menuhaut div:nth-child(2) a section h2 
{
	color: #e67e22;
	font-size: 30px;
}

.menubas div:nth-child(1)
{
	background-color: #FAFAFA;
	box-shadow: 4px 4px 4px 4px grey;
}

.menubas div:nth-child(1) a
{
	text-decoration: none;
}
 
.menubas div:nth-child(1) a section h4
{
	font-family:'Dancing Script', cursive;
	font-size: 30px;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#2019DF), to(#57E7FF));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.menubas div:nth-child(1) a section h2 
{
	color: #2196F3;
	text-decoration: none;
	font-family: 'Paprika', cursive;
	font-size: 25px;
}

.menubas div:nth-child(2)
{
	background-color: #FAFFFA;
	box-shadow: 4px 4px 4px 4px grey;
}

.menubas div:nth-child(2) a
{
	text-decoration: none;
}

.menubas div:nth-child(2) a section h2 
{
	color: #8BC34A;
	text-decoration: none;
	font-family: 'Paprika', cursive;
	font-size: 25px;
}

.menubas div:nth-child(2) a section h4
{
	font-family: 'Romanesco', cursive;
	font-size: 35px;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#0A630D), to(#C6FF00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#prochainement 
{ 
	background-color: #018574;
	border: 4px solid #018574;
	margin-bottom:8%; 
	border-radius: 8px;
	text-align: center;
	width: 20%;
	margin-top: 2%;
	margin:auto;
} 

#prochainement h2
{
   color: #FFC400;
   font-family: trebuchet ms;
   font-size: 19px;
   text-align: center;	
   margin-top:3px;
   margin-bottom: 3px;
}

main h1 
{
	text-align: center;
	font-size: 30px;
}

/*---------------Animations--------------*/
/* Zoom Menus*/
.zoom 
{
	width: 320px;
	height: 240px;
}
.resto
{
	width: 100%;
	height: 100%;
}
.resto
{
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
	-webkit-transition: all 1s ease; /* Safari et Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* Internet Explorer 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}
.resto:hover
{
/* L'image est grossie de 25% */
	-webkit-transform:scale(1.25); /* Safari et Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* Internet Explorer 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
	opacity: 30%;
}

/* Prochainement points de suspension*/
#prochainement h2:after 
{
	display: inline-block;
	animation: dotty steps(1,end) 2s infinite;
	content: '';
}

@keyframes dotty 
{
	0%   { content: ''; }
	25%  { content: '.'; }
	50%  { content: '..'; }
	75%  { content: '...'; }
	100% { content: ''; }
}

/*----------------------Media queries Page Menus---------------------*/
@media screen and (max-width: 995px)
{

	main .menuhaut
	{
		flex-direction: column;
	}

	.menuhaut div 
	{
		margin: auto;
		margin-top: 10%;
	}

	main .menuhaut div:nth-child(1)
	{ 
		width: 45%;
	}

	main .menuhaut div:nth-child(2)
	{
		width: 45%;
	}
    
    main .menubas 
	{
		flex-direction: column; 
	}

	.menubas div 
	{
		margin: auto;
		margin-top: 10%;
	}

	main .menubas div:nth-child(1)
	{ 
		width: 45%;
	}

	main .menubas div:nth-child(2)
	{
		width: 45%;
	}

	#prochainement
    {
	  width: 40%;
	  margin: auto;
	  margin-top: 4%;
	}

    #prochainement h2
	{
	   font-size: 17px;	
	}

}

@media screen and (max-width: 873px)
{
	

    main .menuhaut div:nth-child(1)
	{ 
		width: 	55%;
	}

	main .menuhaut div:nth-child(2)
	{
		width: 55%;
	}
    
    main .menubas div:nth-child(1)
	{ 
		width: 55%;
	}

	main .menubas div:nth-child(2)
	{
		width: 55%;
	}
}

@media screen and (max-width: 715px)
{
	#prochainement h2
	{		
	   margin-top: 3px;
	   margin-bottom: 3px;
	}
	
	#prochainement h2
	{
		font-size: 15px;
	}
}	

@media screen and (max-width: 538px)
{
	.menuhaut div:nth-child(1) a section h4
	{
		font-size: 20px; 
	}

	.menuhaut div:nth-child(1) a section h2 
	{
		font-size: 20px;
	}

	 .menuhaut div:nth-child(2) a section h4
	{
		font-size: 19px; 
	}

	.menuhaut div:nth-child(2) a section h2 
	{
		font-size: 20px;
	}

    .menubas div:nth-child(1) a section h4
	{
		font-size: 19px; 
	}

	.menubas div:nth-child(1) a section h2 
	{
		font-size: 19px;
	}

	 .menubas div:nth-child(2) a section h4
	{
		font-size: 22px; 
	}

	.menubas div:nth-child(2) a section h2 
	{
		font-size: 22px;
	}
}

